@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 75vw;
  margin: auto;
}

.hero {
  background: url('./images/other/IMAGE (20)-min.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.gallery-image-wrapper:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

img.hidden {
  display: none;
}

.filters {
  display: block;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 2%;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: black;
  opacity: 50%;
}

input,textarea, button {
  width: 100%;
  padding: 1%;
  margin: 0.5%;
  border: solid rgba(0,0,0,10%);
}

button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,10%);
}

.blog-post {
  text-align: left;
  border-radius: 20px;
  background-color: white;
  padding: 5%;
  margin: 5%; 
  filter: drop-shadow( 0px 5px 5px rgba(0,0,0,0.05));
}